:root {
	--red: #E4503E;
	--text: #444;
}

$pizzaPink: #FDD1D1;
$pizzaYellow: #FEF378;
$pizzaPinkDark: #FB315D;

@media (prefers-color-scheme: dark) {
	.gif-1 {
		--text: #444;

		.highlight {
			a {
				color: lighten($text, 10%);
				border-color: lighten($text, 10%);

				&:hover {
					color: $pizzaPinkDark;
					border-color: $pizzaPinkDark;
				}
			}
		}
	}

	$text: #444;
	
}

.gif-1 {


	footer,
	header,
	main {
		background: rgba($pizzaYellow, 0.75);
		// color: $pizzaPinkDark;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Creepster', cursive;
	}

	.u-color-red {
		color: $pizzaPinkDark;
	}

	a {
		color: $pizzaPinkDark;
	}

	header nav a:hover,
	.cards .tags ul li {
		background: $pizzaPinkDark;
	}

	.btn {
		border-color: $pizzaPinkDark;
	}

	.form-contact button:hover {
		background-color: $pizzaPinkDark;
	}

	.btn:hover {
		border-color: $pizzaPinkDark;
		background-color: $pizzaPinkDark;
	}

	.cards .card a {
		outline-color: $pizzaPinkDark;
		color: $pizzaPinkDark;

		&:hover {
			color: $white;
			background-color: $pizzaPinkDark;
		}
	}

	footer p,
	footer nav a,
	footer p strong {
		color: $pizzaPinkDark;
	}

	.form-contact {

		input,
		textarea {
			border: 1px solid var(--text);
			color: #444;
		}
	}

	cursor: url("../img/pizza-cursor.gif") 0 0,
	auto;

	.footer-toggle a,
	.nolink {
		color: $pizzaPinkDark;
	}

	.nolink svg {
		fill: $pizzaPinkDark;
	}

	.st-content {
		background: url("../img/pizza-bg-full.gif") top left repeat $pizzaPink;
		background-size: auto;
		perspective: 1000px;
		perspective-origin: 50% 50%;
		animation: animation 100s linear infinite;
	}

	@keyframes animation {
		100% {
			background-position: 0px 3000px;
		}
	}

	.col {
		a {
			color: var(--text);

			i {
				color: $pizzaPinkDark;
			}

			&:hover {
				border-color: $pizzaPinkDark;
				background: $pizzaPinkDark;
				color: $white;

				i {
					color: $white;
				}
			}
		}

		li {

			a,
			span {
				border: 0.1px solid var(--text);
			}
		}
	}
}
