
$pizzaPink: #FDD1D1;
$pizzaYellow: #FEF378;
$pizzaPinkDark: #FB315D;

.gif-1 {
	footer,
	header,
	main {
		background: rgba($pizzaYellow, 0.75);
		// color: $pizzaPinkDark;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Creepster', cursive;
	}

	.u-color-red {
		color: $pizzaPinkDark;
	}

	header nav a:hover {
		background: $pizzaPinkDark;
	}

	footer p {
		color: $pizzaPinkDark;
	}
	cursor: url("../img/pizza-cursor.gif") 0 0, auto;

	.footer-toggle a {
		color: $pizzaPinkDark;
	}

	.st-content {
		background: url("../img/pizza-bg-full.gif") top left repeat $pizzaPink;
		background-size: auto;
	}

	.col {
		a {
			color: $clr-2;

			i {
				color: $pizzaPinkDark;
			}

			&:hover {
				border-color: $pizzaPinkDark;
				background: $pizzaPinkDark;
				color: $white;

				i {
					color: $white;
				}
			}
		}

		li {
			a,
			span {
				border: 0.1px solid $clr-2;
			}
		}
	}

}
