// Footer
// ----------------------------------------------------------------------------

footer {
	@extend %wrapper;

	nav {
		border-top: 1px solid $clr-2;
		font-family: $din;
		font-weight: 700;
		text-transform: uppercase;
		padding: 12px 0 0;
		@extend %clearfix;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
			@extend %clearfix;
			@include mq-at-least(500px) {
				text-align: right;
				padding: 0 0 .25em;
			}
		}

		li {
			display: inline-block;
			margin: 0;
			text-align: center;
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}

			&.footer-toggle {
				display: block;
				margin-top: 1em;

				a {
					color: #888;
					font-size: 1.2rem;
				}
			}

			@include mq-at-least(400px) {
				&.footer-toggle {
					a {
						font-size: 1.3rem;
					}
				}
			}
			@include mq-at-least(500px) {
				&.footer-toggle {
					float: left;
					display: inline-block;
					margin-right: 0;
					margin-top: 0;

					a {
						font-size: 1.5rem;
					}
				}
			}
			@include mq-at-least(960px) {
				margin-right: 16px;

				&.footer-toggle {
					margin-top: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}

		}

		a {
			position: relative;
			z-index: 2;
			text-decoration: none;
			color: $clr-2;
			transition: all .2s ease-out;
			border-bottom: 1px solid transparent;
			padding: 4px 0;
			display: block;
			letter-spacing: 1px;
			font-size: 24px;

			&:hover {
				color: $clr-1;
				transform: scale(1.1);
				// background: $clr-1;
				// color: $white;
			}

			&.active {
				// outline: 1px solid $clr-2;
				color: $clr-2;

				&:hover {
					background: $clr-1;
					// background: $clr-1;
					// color: $white;
					// outline-color: $clr-1;
				}
			}
		}
	}

	p {
		margin: 0;
		padding: 1em 0;
		text-align: center;
		color: #CCC;
		@include mq-at-least(500px) {
			text-align: right;
			padding: 0 0 1em;
		}
	}
}
