// Header
// ----------------------------------------------------------------------------

header {
	@extend %wrapper;
	text-align: center;
	h1 {
		transition: font-size 0.2s ease-out;
		border-bottom: 1px solid $clr-2;
		font-family: $biorhyme;
		text-transform: uppercase;
		text-align: left;
		padding: 16px 0;
		margin: 0;
		line-height: 1em;
		font-size: 1.5em;
		font-weight: 300;
		@include mq-at-least(400px){
			font-size: 1.6em;
		}
		@include mq-at-least(600px){
			font-size: 2em;
			padding: 48px 0 16px;
			display: block;
		}
		@include mq-at-least(1200px){
			font-size: 2.5em;
		}
	}
	nav {
		font-family: $oswald;
		text-transform: uppercase;
		padding: 0 0;
		@extend %clearfix;
		@include mq-at-least(600px){
			padding: 12px 0;
		}
		button {
			-webkit-appearance: none;
			appearance: none;
			background: none;
			outline: none;
			border: none;
			display: block;
			width: 100%;
			font-family: $oswald;
			padding: 8px 16px;
			letter-spacing: 1px;
			color: $clr-2;
			line-height: normal;
			text-transform: uppercase;
			line-height: normal;
			border-bottom: 1px solid $clr-2;
			transition: all 0.5s ease-out;
			// margin: 0 0 1em;
			i {
				margin-left: 6px;
				top: -1px;
				position: relative;
			}
			&.active {
				border-bottom: none;
				background: $clr-2;
				color: $white;
			}
			@include mq-at-least(768px){
				display: none;
			}
		}
		button.toggle.active + ul {
			@include mq-until(768px){
				margin-bottom: 1em;
				// padding-bottom: 1em;
				max-height: 300px;
				visibility: visible;
			}
		}
		button.toggle + ul {

			@include mq-until(768px){
				padding-bottom: 0;
				visibility: hidden;
				max-height: 0;
			}
		}
		ul {
			border-left: 1px solid $clr-2;
			border-right: 1px solid $clr-2;
			border-bottom: 1px solid $clr-2;
			list-style: none;
			margin: 0;
			padding: 1em 1px 0.5em;
			text-align: left;
			@include mq-until(768px){
				max-height: 0;
				overflow: hidden;
				transition: all 0.5s ease-out;
			}

			@include mq-at-least(768px){
				border-left: none;
				border-right: none;
				border-bottom: 1px solid $clr-2;
				padding: 0 1px 1em;
			}
		}
		li {
			display: block;
			max-width: 150px;
			margin: 0 auto 0.5em;
			text-align: center;
			@include mq-at-least(768px){
				display: inline-block;
				width: auto;
				margin-right: 6px;
				margin-bottom: 0;
				&:nth-child(even){
					text-align: left;
				}
				&:last-child {
					margin-right: 0;
					float: right;
				}
			}

		}
		a {
			position: relative;
			z-index: 2;
			text-decoration: none;
			color: $clr-2;
			transition: all 0.2s ease-out;
			border-bottom: 1px solid transparent;
			padding: 4px 16px;
			display: block;
			letter-spacing: 1px;
			&:hover {
				background: $clr-1;
				color: $white;
				// transform: scale(1.05);
			}
			&.active {
				outline: 1px solid $clr-2;
				color: $clr-2;
				&:hover {
					background: $clr-1;
					color: $white;
					outline-color: $clr-1;
				}
			}
		}

	}
}
