// Header
// ----------------------------------------------------------------------------

header {
	@extend %wrapper;
	text-align: center;
	h1 {
		transition: font-size 0.2s ease-out;
		border-bottom: 1px solid $clr-2;
		font-family: $biorhyme;
		text-transform: uppercase;
		text-align: left;
		padding: 16px 0;
		margin: 0;
		line-height: 1em;
		font-size: 1.5em;
		@include mq-at-least(400px){
			font-size: 1.6em;
		}
		@include mq-at-least(600px){
			font-size: 2em;
			padding: 48px 0 16px;
			display: block;
		}
		@include mq-at-least(1200px){
			font-size: 2.5em;
		}
	}
	nav {
		font-family: $oswald;
		text-transform: uppercase;
		border-bottom: 1px solid $clr-2;
		padding: 12px 0;
		@extend %clearfix;
		// @include mq-at-least(600px){
		// 	padding: 0.8em 0;
		// }
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: left;
		}
		li {
			display: inline-block;
			margin: 0;
			width: calc(50% - 2px);
			text-align: center;
			&:nth-child(even){
				// text-align: right;
			}
			@include mq-at-least(768px){
				width: auto;
				margin-right: 6px;
				&:nth-child(even){
					text-align: left;
				}
				&:last-child {
					margin-right: 0;
					float: right;
				}
			}

		}
		a {
			position: relative;
			z-index: 2;
			text-decoration: none;
			color: $clr-2;
			transition: all 0.2s ease-out;
			border-bottom: 1px solid transparent;
			padding: 4px 16px;
			display: block;
			letter-spacing: 1px;
			&:hover {
				background: $clr-1;
				color: $white;
			}
			&.active {
				outline: 1px solid $clr-2;
				color: $clr-2;
				&:hover {
					background: $clr-1;
					color: $white;
					outline-color: $clr-1;
				}
			}
		}

	}
}
