html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	background: $white;
	position: relative;
	padding: 0;
	margin: 0;
	// font-family: $biorhyme-reg;
	font-family: $roboto-slab;
	color: $clr-2;
	line-height: 1.5em;
}

a {
	color: $clr-1;

	&:hover {
		color: $clr-2;
	}
}

%wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
	@include mq-at-least(600px) {
		padding: 0 2em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $biorhyme;
	text-transform: uppercase;
	font-weight: bold;
}

main {
	@extend %wrapper;
	padding-top: 1em;
	padding-bottom: 1em;
	@include mq-at-least(768px) {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	p {
		line-height: 1.8em;
		margin: 0 0 1em;
		padding: 0;
	}
	// font-family: $redacted;
}

.loading {
	&:after {
		position: fixed;
		z-index: 100;
		content: "";
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		// height: 10px;
		box-shadow: 0 1px 6px #AAA;
		overflow: hidden;
		background: linear-gradient(219deg, #da4c48, #e77641, #e741d7);
		background-size: 600% 600%;
		// transform: skew(-20deg);
		-webkit-animation: gradientSwitch 2s ease infinite, slideScreen 2s ease-in-out;
		-moz-animation: gradientSwitch 2s ease infinite, slideScreen 2s ease-in-out;
		animation: gradientSwitch 2s ease infinite, slideScreen 2s ease-in-out;
		// opacity: 0.5;
		@-webkit-keyframes slideScreen {
			0% {
				left: 0;
				width: 0;
			}

			50% {
				left: 0;
				width: 100%;
			}

			100% {
				left: 100%;
			}
		}
		@-moz-keyframes slideScreen {
			0% {
				left: 0;
				width: 0;
			}

			50% {
				left: 0;
				width: 100%;
			}

			100% {
				left: 100%;
			}
		}
		@keyframes slideScreen {
			0% {
				left: 0;
				width: 0;
			}

			50% {
				left: 0;
				width: 100%;
			}

			100% {
				left: 100%;
			}
		}
		@-webkit-keyframes gradientSwitch {
			0% {
				// opacity: 0;
				background-position: 0 99%;
			}

			50% {
				// opacity: 1;
				background-position: 100% 2%;
			}

			100% {
				// opacity: 0;
				background-position: 0 99%;
			}
		}
		@-moz-keyframes gradientSwitch {
			0% {
				// opacity: 0;
				background-position: 0 99%;
			}

			50% {
				// opacity: 1;
				background-position: 100% 2%;
			}

			100% {
				// opacity: 0;
				background-position: 0 99%;
			}
		}
		@keyframes gradientSwitch {
			0% {
				// opacity: 0;
				background-position: 0 99%;
			}

			50% {
				// opacity: 1;
				background-position: 100% 2%;
			}

			100% {
				// opacity: 0;
				background-position: 0 99%;
			}
		}
	}
}

// Section

main section {
	h2 {
		padding: 0;
		margin: 0 0 12px;
		@include mq-at-least(768px) {
			margin-top: 12px;
		}
	}
	// visibility: none;
	// opacity: 0;
	// transition: all 1s ease;
	// max-height: 0;
	// overflow: hidden;
	// &.active {
	// 	opacity: 1;
	// 	visibility: visible;
	// 	max-height: none;
	// }
}

.btn {
	position: relative;
	z-index: 2;
	text-decoration: none;
	border: 1px solid $clr-2;
	color: $clr-2;
	transition: all .2s ease-out;
	padding: 4px 16px;
	display: inline-block;
	// display: block;
	letter-spacing: 1px;

	&:hover {
		border-color: $clr-1;
		background: $clr-1;
		color: $white;
		// transform: scale(1.05);
	}
}

.backToTop {
	border: 1px solid #AAA;
	color: #AAA;
	// display: block;
	display: none;
	margin: 32px auto 0;
	max-width: 180px;
	text-align: center;
	font-size: 12px;
}

.mobile-only {
	@include mq-at-least(768px) {
		display: none;
	}
}

// talks

.responsive-container {
	position: relative;
	width: 100%;
	max-width: 100%;
	height: 0;
	padding-bottom: 62.5%;
	border: 1px solid #cacaca;
	overflow: hidden;
}

.responsive-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
}

.highlight {
	@include fluid-type(font-size, 400px, 1200px, 40px, 70px);
	font-family: $din;
	line-height: 1.2em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	a {
		display: inline-block;
		text-decoration: none;
		color: lighten($clr-2, 10%);
	}

}

.row {
	// display: flex;
	// flex-wrap: wrap;

}

.col {
	padding: 0 0 1em;
	strong {
		font-family: $din;
		text-transform: uppercase;
		font-size: 1.75em;
		display: inline-block;
		padding: 0 0 0.75rem;
	}
	ul {
		margin: 0 0 0;
		padding: 0;
	}
	a {
		text-decoration: none;
		color: $clr-2;
		transition: all 0.2s ease-out;
		i {
			color: $clr-1;
		}
		&:hover {
			border-color: $clr-1;
			background: $clr-1;
			color: $white;
			i {
				color: $white;
			}
		}
	}
	li {
		display: inline-block;

		margin: 0 0.5em 0.75em 0;
		// border-radius: 10px;
		i {
			margin-left: 0.5em;
		}
		span, a {
			border: 0.1px solid $clr-2;
			display: inline-block;
			padding: 5px 10px;
		}
	}
}
