.cards {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: -1em;
	margin-right: -1em;

	> li {
		outline: 1px solid black;
		padding: 1em;
		@include mq-at-least(600px) {
			width: percentage(1/2);
		}
		@include mq-at-least(768px) {
			width: percentage(1/3);
		}
		@include mq-at-least(960px) {
			width: percentage(1/4);
		}
	}

	.card {
		img {
			max-width: 100%;
			display: block;
		}

		h3 {
			font-family: $oswald;
			text-transform: uppercase;
		}
	}

	.tags {
		// font-size: .75rem;

		span {}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				background: $clr-1;
				padding: 5px 10px;
				margin-right: 5px;

			}
		}
	}

}

#work {
	legend {
		span {
			display: inline-block;
			margin-right: 1em;
			background: rgba($black, 0.2);
			padding: 5px;
		}
	}
}
